<md-dialog aria-label="Sign Up">
  <md-dialog-content>
  	<div class="md-dialog-content">
    	<h2>Session: {{session.trainning.name}} {{session.start_time | date:'medium'}}</h2>
    	<div layout="column" ng-cloak class="md-inline-form">
			  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
			    <div>
			      <md-input-container>
			        <label>Name</label>
			        <input ng-model="student.name">
			      </md-input-container>
			      <md-input-container>
			        <label>Email</label>
			        <input ng-model="student.email">
			      </md-input-container>
			      <md-input-container>
			      	<md-button class="md-primary md-raised" ng-click="add()">{{student.added ? 'Save' : 'Add'}}</md-button>
			      	<md-button class="md-primary md-raised" ng-show="student.added" ng-click="remove(student)">Remove</md-button> 
			      </md-input-container>
			    </div>
		    </md-content>
		    <md-content>
			    <h2 class="md-title">Participants</h2>
			    <md-list class="participantsList">
			      <md-list-item class="md-2-line participant" ng-repeat="student in students"
			      		layout="row" layout-wrap ng-click="select(student)">
			        <div class="md-item-text md-whiteframe-z1" flex>
			          <h3>{{student.name}}</h3>
			          <p>{{student.email}}</p>
			        </div>
			      </md-list-item>
			    </md-list>
			  </md-content>
			</div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary md-raised" ng-click="cancel()">Cancel</md-button>
    <md-button class="md-primary md-raised" ng-click="submit()">Submit</md-button>
  </md-dialog-actions>
</md-dialog>